#form {
	input, textarea {
		width: 100%;
		padding: 1rem;
		margin-bottom: 1rem;
		border: 0;
		box-shadow: 0 2px 4px 0 rgba(#000, .5);
	}
	input[type="submit"] {
		border: 0;
		background: $blue;
		color: $white;
		&:hover {
			background: darken($blue, 20%);
			transition: all .3s ease-in;
		}
	}
}