.b-header {
	background: $white;
	box-shadow: 0 2px 2px 0 rgba($black, .5);
}

.b-header__logo {
	padding: 1rem 0;
	display: inline-block;
	
	@include breakpoint (medium down) {
		padding: .5rem 0;
	}

}

.b-header__hamburger {
	
	@include breakpoint (small only) {		
		display: inline-block;
		float: right;
		line-height: 50px;
	}

	@include breakpoint (medium only) {		
		display: inline-block;
		float: right;
		line-height: 80px;
	}

	@include breakpoint (large) {
		display: none;
	}

}

.b-menu {
	font-family: $sans-alt;
	list-style: none;
	margin: 0;
}

.b-menu__item {
	display: inline-block;	
	
	&:not(:last-child) {
		padding-right: 1rem;
	}
	
	.button {
		margin: 0;
	}

	@include breakpoint (medium down) {
		display: block;
		text-align: center;
		margin-bottom: 1rem;
		
		&:not(:last-child) {
			padding-right: 0;
		}
		
		.button {
			color: $white;
			border: 1px solid $white;
		}

	}

}

.b-menu__link {
	color: $black;
	padding: .85rem 0;
	
	@include breakpoint (medium down) {
		color: $white;
	}

}

.b-mobile-menu {
	
	@include breakpoint (medium down) {
		display: none;
	}

	@include breakpoint (large) {
		text-align: right;
	}

}

.b-mobile-menu--show {
	
	@include breakpoint (medium down) {
		display: block;
		position: absolute;		
		z-index: 10;
		background: $blue;
		width: 100%;
	}

	@include breakpoint (small) {
		top: 51px;
	}

	@include breakpoint (medium) {
		top: 82px;
	}
	
	@include breakpoint (large) {
		display: none;
	}
}


.b-call {
	display: inline-block;
	font-family: $serif;
	// float: left;

	@include breakpoint (medium down) {
		display: block;
		text-align: center;
		padding: 10px 0;
	}

}

.b-call__copy {
	margin-bottom: 0;
	font-size: 14px;
	
	@include breakpoint (medium down) {
		font-size: 1.25rem;
		color: $white;		
	}

}

.b-call__link {
	font-family: $sans-alt;
	margin-left: 5px;
	white-space: nowrap;
	// font-weight: bold;

	@include breakpoint (medium down) {
		color: $white;
	}

}


.b-call--tablet {
	
	display: none;

	@include breakpoint (medium only) {
		display: inline-block;
		width: 250px;
		float: right;
		margin-right: 15px;
		position: relative;
		top: 12px;

		.b-call__copy {
			color: $black;
			font-family: $serif;
			font-size: 14px;
			text-align: right;
			line-height: 1.3;
		}
		
		.b-call__link {
			color: $blue;
		}

	}
	
	@include breakpoint (small only) {		
		display: block;
		background: $blue;
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 9;
		text-align: center;

		.b-call__copy {
			font-size: 14px;
		}

	}

}

.b-call--footer {
	display: block;
	margin-bottom: 25px;

	.b-call__copy {
		font-size: 18px;
		text-align: center;
	}

}
