.b-social {
	list-style: none;
	margin: 0;
}

.b-social--header {
	padding-top: .125rem;
	margin-bottom: 1rem;
	display: inline-block;

	@include breakpoint (medium down) {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: center;
		a {
			color: $white;
		}
	}

}

.b-social__profile {
	display: inline-block;

	&:not(:last-child) {
		padding-right: .5rem;
	}
	
}

.b-social__link {
	color: $white;
}
