$sans-alt: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$sans: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif: 'Gentium Basic', serif;
$blue: #17A1E6;
$black: #4D4D4D;
$white: #FFF;
$grey: #E9E9E9;